@import "mixins";
@import "vendors";
@import "reset";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
}

@import "header";
@import "services";
@import "parallax";
@import "faq";
@import "testimonials";
@import "counter";
@import "map";